<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style type="text/css">
            html {
                font-family: Helvetica, sans-serif;
            }

            .error {
                color: red;
            }

            label {
                display: inline-block;
                width: 140px;
                text-align: right;
            }

            .submit {
                margin-left: 200px;
            }
        </style>                
    </head>
    <body>
        
        {% block content %}
        {% endblock %}

    </body>
</html>