{% extends "base.html" %}

{% block content %}

<h1>Signup!</h1>

<form action="" method="POST">
    <p><label>Username: </label>
        <input type="text" name="username" value="{{ username }}"/>
        <span class="error">{{ username_error }}</span>
    </p>
    <p><label>Password:</label>
        <input type="password" name="password"/>
        <span class="error">{{ password_error }}</span>
    </p>
    <p><label>Verify password:</label>
        <input type="password" name="v_password"/>
        <span class="error">{{ verify_password_error }}</span>
    </p>
    <p><label>Email (optional):</label>
        <input type="text" name="email" value="{{ email }}"/>
        <span class="error">{{ email_error }}</span>
    </p>
    <input class="submit" type="submit" value="Submit!"/>
</form>    

{% endblock %}